@import url("https://fonts.googleapis.com/css?family=Pacifico|Poppins|Source+Code+Pro:500");

$lightblue: rgba(129, 213, 241, 0.7);
/*Stored the Fonts here for simple changing if desired*/
$headingFont: 'Pacifico', sans-serif;
$defaultFont: 'Poppins', sans-serif;
$codeFont: 'Source Code Pro', monospace;

* {
  font-family: $defaultFont;
  box-sizing: border-box;
}
html {
  font-size: 1rem;
  @media screen and (max-width: 31.250rem) {
    font-size: 0.7rem;
  }
}

code, pre {
	padding: .125rem .25rem;
	background-color: #f9f2f4;
}
code {
  font-family: $codeFont;
	padding: 0.125rem 0.25rem; /* Doubles Padding for Codeblocks */
  color: #c7254e;
	border-radius: 0.25rem;
}
blockquote {
	border-left: 0.5rem solid #f9f2f4;
	padding-left: 0.5rem;
}

@import "./Layout.scss";
@import "./In_and_Output.scss";
@import "./Buttons.scss";
@import "./404.scss";